body {
    padding: 10px;
}

@media (min-width: 750px) {
    .form-control {
        width: 600px;
    }
}

@media (max-width: 749px) {
    .form-control {
        width: 80%;
    }
}

.input-group{
    background-color: blue;
}