{% extends "auctions/layout.html" %}

{% block title %} Create Listing {% endblock %}

{% block body %}
    <h1 class="m-2">Create Listing</h1>
        <form class="m-2" action="{% url 'create' %}" method="post">
                {% csrf_token %}
                    {% for field in form %}
                        {% if field == form.genres %}
                            <label class="form-label"> <strong>{{ field.label }}</strong></label> <span style="font-size: 12px; color:#333333;"> Hold CMD+⌘ to select multiple or remove selection </span>
                        {% else %}
                            <label class="form-label"> <strong>{{ field.label }} </strong> </label> 
                        {% endif %}

                        {% if field.errors %}
                            <div class="alert alert-warning" role="alert"> {{ field.errors|striptags }}</div>
                        {% endif %}
                        
                        {% if field == form.starting_bid %}
                            <div class="input-group mb-3">
                                <span class="input-group-text">$</span> {{ field }}
                            </div>
                        {% else %}
                        <div class="mb-3">
                            {{ field }}
                        </div>
                        {% endif %}
                    {% endfor %}
                <input class="btn btn-primary" type="submit" value="List">
        </form>
{% endblock %}