{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% if listings|length > 0 %}
        {% for listing in listings %}
            <div class="d-flex p-2">
            <div id="img-div" class="d-flex justify-content-center align-items-center flex-column mb-2 p-2">
                {% if listing.image %}
                <img src="{{ listing.image.url }}">
                {% else %}
                No image exists
                {% endif %}
            </div>
            <div class="d-flex flex-column mb-2 p-2">
                <div class="p-2"><b>Game:</b> {{ listing.title }}</div>
                <div class="p-2"><b>Price:</b> ${{ listing.starting_bid }}</div>
                <div class="p-2"> <b>Genre(s):</b> 
                {% for genre in listing.genres.all %}
                    <i>{{ genre }}</i>,
                {% endfor %}
                </div>  
                <div class="p-2"><a href="{% url 'listing' listing.listing_id %}">Information about Listing</a></div>
            </div>
        </div>
        <hr>
        {% endfor %}
    {% else %}
        <h3>No Listings Available!</h3>
    {% endif %}
{% endblock %}