{% extends "auctions/layout.html"%}

{% block body %}
    {% include "auctions/message.html" %}
    <h2 class="m-2"> {{ title }} </h2>
    {% if listings|length > 0 %}
    <div class="row row-cols-1 row-cols-md-4 g-4 m-2">
        {% for listing in listings %}
        <div class="col">
          <div class="card text-center d-flex align-items-center">
            <div id="img-container" class="card-img-top d-flex justify-content-center align-items-center mt-2">
                {% if listing.image %}
                    <img src="{{ listing.image.url }}" class="card-img-top" alt="...">
                {% else %}
                    No Image Exists
                {% endif %}
            </div>
            <div class="card-body w-100">
              <h5 class="card-header text-center m-2"><b>{{ listing.title }}</b></h5>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><b style="font-size:14px;">Starting Bid:</b> <span class="start-bid">${{ listing.starting_bid }}</span></li>
                <li class="list-group-item"><b style="font-size:14px;">Highest Bid:</b> 
                    <span class="high-bid">
                        {% if listing.highest_bid %}
                            ${{ listing.highest_bid.bid }}
                        {% else %}
                            No biddings placed!
                        {% endif %}
                    </span></li>
                <div class="card-footer">
                        {% for genre in listing.genres.all %}
                        <b style="font-size:14px;">
                            {% if genre == listing.genres.all.last %}    
                                {{ genre }}
                            {% else %}
                                {{ genre }},&nbsp
                            {% endif %}
                        </b>
                        {% endfor %} 
                </div>
              </ul>
                <a class="stretched-link" href="{% url 'listing' listing.listing_id %}"></a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    {% else %}
        <h3 class="m-2">No Listings Available!</h3>
    {% endif %}
{% endblock %}
