{% extends "auctions/layout.html" %}

{% block title %}
    Listing
{% endblock %}

{% block body %}
<div class="d-flex p-2">
    <div id="img-div" class="d-flex flex-column mb-2 p-2">
        {% if listing.image %}
        <img src="{{ listing.image.url }}">
        {% else %}
        No image exists
        {% endif %}
    </div>
    <div class="d-flex flex-column mb-2 p-2">
        <div class="p-2"><b>Game:</b> {{ listing.title }}</div>
        <div class="p-2"><b>Starting Bid:</b> ${{ listing.starting_bid }}</div>
        <div class="p-2"> <b>Description:</b> {{ listing.description }}</div>
        <div class="p-2"> <b>Listed on:</b> {{ listing.date }}</div>
        <div class="p-2"> <b>Genre(s):</b> 
        {% for genre in listing.genres.all %}

                {{ genre }}&nbsp

        {% endfor %}
        </div>
        <div class="p-2"> <b>Listed by:</b> {{ listing.owner }}</div>
        <form action="{% url 'listing' listing.listing_id %}" method="post">
            {% csrf_token %}
            {{ watchform }}
            <div class="p-2">
                <input class="btn btn-primary" type="submit" value="Add to Watchlist">
                <a href="{% url 'bid' listing.listing_id%}" class="btn btn-primary">Bid for Item</a>
            </div>
        </form>
    </div>
</div>  
{% endblock %}