{% extends "auctions/layout.html" %}

{% block title %}
    Listing
{% endblock %}

{% block body %}
<div class="d-flex p-2">
    <div class="d-flex flex-column mb-2 p-2" style="background-color: blue; width:300px; height:300px;">
        {% if listing.image %}
        <img src="{{ listing.image.url }}">
        {% else %}
        No image exists
        {% endif %}
    </div>
    <div class="d-flex flex-column mb-2 p-2">
        <div class="p-2"><b>{{ listing.title }}</b></div>
        <div class="p-2"><b>Price:</b> ${{ listing.starting_bid }}</div>
        <div class="p-2"> {{ listing.description }}</div>
        <div class="p-2"> <b>Listed on:</b> {{ listing.date }}</div>
        <div class="p-2"> <b>Listed by:</b> {{ listing.owner }}</div>
    </div>
</div>
{% endblock %}